Flask>=3.0
python-dotenv>=1.0
Flask-SQLAlchemy>=3.1
Flask-Migrate>=4.0
psycopg2-binary>=2.9
gunicorn>=22.0

# Fase AWS
boto3>=1.34
requests>=2.31
cryptography>=42.0  # validación de firma de mensajes SNS

# Tests
pytest>=8.0
moto>=5.0
